<div class="container mb-4">
    <div class="container-fluid py-5">
        <div class="row justify-align-center px-auto">
            <div class="col" style="padding-left: 2.5px;padding-right: 2.5px;">
                <div class="card text-center menu-ensinos">
                    <div class="card-body">
                        <a href="https://escola.pro.br/cpa/foc/2019/2/administrativo/landing/,,,,1">
                            <div class="card-header"><i class="fas fa-3x fa-user-graduate"></i></div>
                            <h2 class="card-title">FOC</h2>
                            <h6 class="card-subtitle mb-2 text-muted">Faculdades Oswaldo Cruz</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 2.5px;padding-right: 2.5px;">
                <div class="card text-center menu-ensinos">
                    <div class="card-body">
                        <a href="https://escola.pro.br/cpa/foc/2019/2/administrativo/landing/,,,,2">
                            <div class="card-header"><i class="fas fa-3x fa-user-graduate"></i></div>
                            <h2 class="card-title">FATEC</h2>
                            <h6 class="card-subtitle mb-2 text-muted">Faculdade de Tecnologia</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 2.5px;padding-right: 2.5px;">
                <div class="card text-center menu-ensinos">
                    <div class="card-body">
                        <a href="https://escola.pro.br/cpa/foc/2019/2/administrativo/landing/,,,,3">
                            <div class="card-header"><i class="fas fa-3x fa-user-graduate"></i></div>
                            <h2 class="card-title">FCD</h2>
                            <h6 class="card-subtitle mb-2 text-muted">Faculdade de Comunicação e Design</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="https://escola.pro.br/cpa/foc/2019/2/administrativo/landing/,,,,4">
            <button class="btn btn-primary">Trabalho em duas ou mais unidades</button>
        </a>
    </div>
</div>