<div class="jumbotron jumbotron-fluid" style=" background-color: #33cccc;">
    <div class="container">
        <h1 class="display-4 text-white-50" style=" font-weight: bold; text-shadow: black;">Bem-vindo à CPA 2019/2</h1>
        <p class="lead text-white">Participe até 11/12</p>
    </div>
</div>