<div class="container mb-4">
    <div class="container-fluid">
        <div class="row justify-align-center px-auto">
            <div class="col"></div>
            <div class="col">
                <div class="card text-center menu-ensinos">
                    <div class="card-body">
                        <a href="https://escola.pro.br/cpa/foc/2019/2/comunidade/landing/,,,,">
                            <div class="card-header"><i class="fas fa-3x fa-clipboard-list"></i></div>
                            <h2 class="card-title">Iniciar Pesquisa</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>