<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        Contrato - Grupo Oswaldo Cruz
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../../assets/css/bootstrap/bootstrap.min.css" />

    <script defer="defer" src="../../../assets/fonts/fontawesome/all.js"></script>
    <script src="../../../assets/js/jquery/jquery.slim.min.js"></script>
    <script src="../../../assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../../assets/js/httpRequest.js"></script>
    <script src="../../../assets/js/contrato.js"></script>
</head>
