<div class="jumbotron jumbotron-fluid" style=" background-color: #33cccc;">
    <div class="container">
        <h1 class="display-4 text-white-50" style=" font-weight: bold; text-shadow: black;">Comissão Própria de Avaliação</h1>
        <p class="lead text-white">A Comissão Própria de Avaliação (CPA) foi instituída pela Lei nº 10.861, de 14 de abril de 2004, com o objetivo de conduzir os processos de avaliação internos das instituições de ensino superior, de sistematização e de prestação das informações
            solicitadas pelo Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira – INEP.</p>
    </div>
</div>