<nav class="navbar navbar-dark" style="background-color: #001E3E;">
    <a class="navbar-brand mb-0 h1" href="">
        <img src="https://www.oswaldocruz.br/Alunos/resources/imgs/brasao.png" width="60" height="60"
            class="d-inline-block ml-5 mr-3" alt="">
        CPA Oswaldo Cruz
    </a>
</nav>
